<div class='row' style='padding: 10px;'>
  <div class='col-lg-3' style="font-size: 12px;column-count: 0; column-rule-style: solid;">
    <div style="column-count: 1; column-rule-style: solid;">
      <div style="text-align: center;">
        <h5>Armed Forces Medical College and Army Medical College</h5>
        <h6>(Bogura, Chattogram, Cumilla, Jashore, & Rangpur)</h6>
        <b>Admission Test 2020</b>
        <br>
        <b>Time: 1 hour (10 am - 11 am)</b>
        <b> Date : 08 April 2022, Friday</b>
        <br>
        <h4><u>Instructions for Candidates</u></h4>
      </div>

      <ol>
        <li> Arrive at the examination venue at least 15 minutes before the start of the examination / 35 minutes
          before a digital examination.
        </li>
        <li>Listen carefully to instructions. Students are required to comply with the instructions of invigilators
          at all times. For example,
          if you are asked to sit in a designated place then you must do so and you must not move.
        </li>

        <li> Do not turn over exam papers until told to do so.</li>
        <li>Where permitted you may use one standard translation dictionary. Dictionaries that have any
          English-English definitions are not
          allowed (e.g. The Oxford Advanced Learners’ English-Chinese Dictionary is not allowed; subject specific or
          specialised
          dictionaries are not allowed). Dictionaries are not allowed in CELE English language exams
        </li>
        <li>You are not permitted to share dictionaries, calculators or any other materials during the examination.
        </li>

        <li>Unless specifically indicated in instructions from the module convenor either on the examination paper
          itself or in a separate note
          from the module convenor, no extra pages of any sort will be provided for rough work. You should normally
          be required to do any
          rough work in the exam answer books provided and to draw a line through any such work not considered part
          of your answer.
        </li>

        <li>
          Everything you write (including any notes and rough work) must be in the answer booklet. Do not write
          large bold letters,
          numbers or equivalent marks on the question paper. Do not use sticky tape or any kind of eraser fluid to
          hide anything you write.
        </li>
      </ol>
    </div>
  </div>


  <div class="container-fluid col-lg-9" style="column-count: 3; column-rule-style: solid;">
    <div class="row">
      <div class="col-lg-4">
        Time: 1 Hour
      </div>

      <div class="col-lg-4" style="font-size: 14px; display: flex; align-items:center;flex-direction:column">
        <div><b> Question Paper </b></div>
        <div></div>
      </div>

      <div class="col-lg-4">
        Full Marks: 100
      </div>
    </div>
    <div class="row">
      <div class="col" id="qrcode">

      </div>
      <div class="col">
        <svg class="barcode"
             jsbarcode-displayValue="false"
             jsbarcode-fontoptions="bold"
             jsbarcode-format="upc"
             jsbarcode-height="32"
             jsbarcode-textmargin="0"
             jsbarcode-value="123456789012">
        </svg>
      </div>
    </div>
    <hr>

    <div style="font-size: 14px; column-fill: auto;">
      <div style="-webkit-column-break-inside: avoid">
        <b> </b> <br>
        <div style="display: inline-flex; font-size:13px; width:174px;">
        </div>
        <div style="display: inline-flex; font-size:13px; width:87px;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class='row' style='padding: 10px;'>
  <div class='col-lg-3' style="font-size: 12px;column-count: 0; column-rule-style: solid;">
    <div style="column-count: 1; column-rule-style: solid;">
      <div style="text-align: center;">
        <h5>Armed Forces Medical College and Army Medical College</h5>
        <h6>(Bogura, Chattogram, Cumilla, Jashore, & Rangpur)</h6>
        <b>Admission Test 2020</b>
        <br>
        <b>Time: 1 hour (10 am - 11 am)</b>
        <b> Date : 08 April 2022, Friday</b>
        <br>
        <h4><u>Instructions for Candidates</u></h4>
      </div>

      <ol>
        <li> Arrive at the examination venue at least 15 minutes before the start of the examination / 35 minutes
          before a digital examination.
        </li>
        <li>Listen carefully to instructions. Students are required to comply with the instructions of invigilators
          at all times. For example,
          if you are asked to sit in a designated place then you must do so and you must not move.
        </li>

        <li> Do not turn over exam papers until told to do so.</li>
        <li>Where permitted you may use one standard translation dictionary. Dictionaries that have any
          English-English definitions are not
          allowed (e.g. The Oxford Advanced Learners’ English-Chinese Dictionary is not allowed; subject specific or
          specialised
          dictionaries are not allowed). Dictionaries are not allowed in CELE English language exams
        </li>
        <li>You are not permitted to share dictionaries, calculators or any other materials during the examination.
        </li>

        <li>Unless specifically indicated in instructions from the module convenor either on the examination paper
          itself or in a separate note
          from the module convenor, no extra pages of any sort will be provided for rough work. You should normally
          be required to do any
          rough work in the exam answer books provided and to draw a line through any such work not considered part
          of your answer.
        </li>

        <li>
          Everything you write (including any notes and rough work) must be in the answer booklet. Do not write
          large bold letters,
          numbers or equivalent marks on the question paper. Do not use sticky tape or any kind of eraser fluid to
          hide anything you write.
        </li>
      </ol>
    </div>
  </div>

  <div class="container-fluid col-lg-9" style="column-count: 3; column-rule-style: solid;">
    <div class="row">
      <div class="col-lg-4">
        Time: 1 Hour
      </div>

      <div class="col-lg-4" style="font-size: 14px; display: flex; align-items:center;flex-direction:column">
        <div><b> Question Paper </b></div>
        <div></div>
      </div>

      <div class="col-lg-4">
        Full Marks: 100
      </div>
    </div>
    <hr>

    <div style="font-size: 14px; column-fill: auto;">
      <div style="-webkit-column-break-inside: avoid">
        <b></b> <br>

        <div style="display: inline-flex; font-size:13px; width:87px;">

        </div>

      </div>

    </div>
  </div>
</div>
