.row_ {
  display: flex;

}



/* Create four equal columns that sits next to each other */
.column_ {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}



page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom:
    0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size="A4"] {
  width:
    21cm;
  height: 29.7cm;
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}

page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}

page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}

page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}

@media print {

  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}

* {
  margin: 0;
  padding:
    0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica,
  sans-serif;
  line-height: 0.5;
  font-size: 9px;
}

ul {
  list-style: none;
}

ul li {
  padding:
    5px;
  background: #f4f4f4;
  margin: 2px 0;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.container {
  margin: auto;
  width:
    500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width:
    100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

.btn:hover {
  background: #444;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
}
